* {
    /*    box-sizing: border-box;*/
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: 1px solid #000;
}

a {
    text-decoration: none;
}

nav,
.nav {
    position: absolute;
    width: 100%;
    clear: both;
    outline: 1x solid #222;
    height: 3rem;
    background-color: #fff;
    top: 0 !important;
    left: 0;
    /*    padding-left: .5em;*/
    box-shadow: 0px 1px 1px 1px #444;
}

.nav a {
    display: inline-block;
    color: #222;
/*    position: relative;*/
    line-height: 3rem;
    padding-left: .5em;
    padding-right: .5em;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.nav a.home {
    margin-left: 1em;
    margin-right: 3em;
/*    font-size: 2rem;*/
}

.nav a.navlinks {
/*    top: -.5rem;*/
}

.nav a:focus {
    background-color: #222;
    color: #fff;
}


.skip {
    font-family: sans-serif;
    font-size: 1.2rem;
}
.sro,
.skip {
    /*https://labs.levelaccess.com/index.php/Offscreen_Text*/
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.skip:focus {
    position: static;
    width: 200px;
    padding: auto;
    border: auto;
    height: 100px;
    z-index: 1000;
    clip: auto;
    
}

.main {
    margin-top: 2rem;
    width: 90%;
    padding: 2em;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #ccc;
}

.fake,
#ctrl {
    background-color: #003;
    color: #fff;
    border: 2px solid #003;
    border-radius: 5px;
    max-width: 8em;
    font-family: sans-serif;
    padding: .25em;
    font-weight: bold;
    margin-left: 2em;
    margin-top: .5em;
    position: relative;
}

.real:focus+.fake {
    outline: 1px solid #000;
    box-shadow: 0px 0px 2px 1px #000;
}