.sro {
    /*https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
    clip: rect(1px 1px 1px 1px);
    /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    /* added line */
    width: 1px;
}

.btn.fake {
    background-color: #00c;
    color: #fff;
    border: 2px solid #00c;
    border-radius: 5px;
}

.real:focus+.fake {
    outline: 1px solid #000;
    box-shadow: 0px 0px 2px 1px #000;
}