* {
    box-sizing: border-box;
}


.sro {
    /*https://labs.levelaccess.com/index.php/Offscreen_Text*/
    position: absolute!important;
    clip: rect(1px 1px 1px 1px)!important;
    clip: rect(1px, 1px, 1px, 1px)!important;
    clip-path: inset(50%)!important;
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden!important;
    white-space: nowrap!important;
}

.fake, #ctrl {
    background-color: #003;
    color: #fff;
    border: 2px solid #003;
    border-radius: 5px;
    max-width: 8em;
    font-family: sans-serif;
    padding: .25em;
    font-weight: bold;
    margin-left: 2em;
    margin-top: .5em;
    
    position: relative;
}

.real:focus+.fake {
    outline: 1px solid #000;
    box-shadow: 0px 0px 2px 1px #000;
}