body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

nav,
.nav {
    position: fixed;
    display: inline-block;
    /*display:flex causes MASSIVE problems when zoomed in - nav bar content gets cut off, cannot scroll horizontally. need to fix*/
    width: 100%;
    clear: both;
    outline: 1x solid #222;
    height: 3rem;
    background-color: #fff;
    top: 0 !important;
    left: 0;
    /*    padding-left: .5em;*/
    box-shadow: 0px 1px 1px 1px #444;
    z-index: 100;
}

.nav a {
    display: inline-block;
    color: #222;
    /*    position: relative;*/
    line-height: 3rem;
    padding-left: .5em;
    padding-right: .5em;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.nav .home {
    margin-left: 1em;
    margin-right: 3em;
    font-size: 2.5rem;
    vertical-align: top;
}

.nav .navlinks {
    vertical-align: top;
}

.nav a:focus {
    background-color: #222;
    color: #fff;
}

.fake.skipFake {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    display: inline-block;
    /*    cursor: pointer;*/
    z-index: 1000;
    position: absolute;
    margin-top: 0;
    top: 1%;
    background-color: #000;
    color: #fff;
    text-decoration: underline;
    padding: .5em;
}

.hero {
    width: 100%;
    outline: 1px solid #000;
    height: 15rem;
    margin-top: 3rem;
    background-color: burlywood;
}

.sro {
    /*https://labs.levelaccess.com/index.php/Offscreen_Text*/
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.main {
    /*    position: relative;*/
    margin-top: 3rem;
    width: 75%;
    padding-left: 3em;
    padding-right: 3em;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #ccc;
}

.fake.btn,
#ctrl {
    background-color: #003;
    color: #fff;
    border: 2px solid #003;
    border-radius: 5px;
    max-width: 8em;
    font-family: sans-serif;
    padding: .25em;
    font-weight: bold;
    margin-left: 2em;
    margin-top: .5em;
    position: relative;
}

a,
[role='link']+.fake:not(.skipFake) {
    color: #029;
    background-color: inherit;
    border: none;
    display: inline;
    font-family: sans-serif;
    font-size: 1rem;
}

[role='link']:focus+.fake,
a:not(navlinks):focus {
    text-decoration: underline;

    /*    font-weight: bolder;*/
}

[role='link']+.fake:hover,
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

input:focus,
textarea:focus, a:not(.navlinks):not(.home):focus, button:focus, [role='button']:not(.real):focus, [role='link']:not(.real):focus, .real:focus+.fake:not(.srFake) {
    outline: 2px dotted #000;
    box-shadow: inset 0px 0px 2px #000;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: sans-serif;
}

h1,
.h1 {
    font-size: 4rem;
    /*    font-family: cursive;*/
    text-align: center;
    color: #222;
    font-weight: 100;
    text-transform: uppercase;
}

h2,
.h2 {
    font-size: 2rem;
    font-weight: lighter;
    font-family: "Helvetica", serif;
    text-transform: capitalize;
}